body {
  padding: 10px;
  text-align: center;
}

img {
  width: 100px;
}

.abteilung {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
